[submodule "site/pack/mmleroux/opt/deb.vim"]
	path = site/pack/mmleroux/opt/deb.vim
	url = https://github.com/knatsakis/deb.vim
[submodule "site/pack/mmleroux/opt/nvim-lspconfig"]
	path = site/pack/mmleroux/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "site/pack/mmleroux/opt/patchreview-vim"]
	path = site/pack/mmleroux/opt/patchreview-vim
	url = https://github.com/junkblocker/patchreview-vim
[submodule "site/pack/mmleroux/opt/salt-vim"]
	path = site/pack/mmleroux/opt/salt-vim
	url = https://github.com/saltstack/salt-vim
[submodule "site/pack/mmleroux/opt/todo.txt-vim"]
	path = site/pack/mmleroux/opt/todo.txt-vim
	url = https://github.com/dbeniamine/todo.txt-vim
[submodule "site/pack/mmleroux/opt/undotree"]
	path = site/pack/mmleroux/opt/undotree
	url = https://github.com/mbbill/undotree
[submodule "site/pack/mmleroux/opt/vim-airline"]
	path = site/pack/mmleroux/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "site/pack/mmleroux/opt/vim-airline-themes"]
	path = site/pack/mmleroux/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "site/pack/mmleroux/opt/vim-colorschemes"]
	path = site/pack/mmleroux/opt/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "site/pack/mmleroux/opt/vim-commentary"]
	path = site/pack/mmleroux/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "site/pack/mmleroux/opt/vim-eighties"]
	path = site/pack/mmleroux/opt/vim-eighties
	url = https://github.com/justincampbell/vim-eighties
[submodule "site/pack/mmleroux/opt/vim-fetch"]
	path = site/pack/mmleroux/opt/vim-fetch
	url = https://github.com/kopischke/vim-fetch
[submodule "site/pack/mmleroux/opt/vim-fish"]
	path = site/pack/mmleroux/opt/vim-fish
	url = https://github.com/dag/vim-fish
[submodule "site/pack/mmleroux/opt/vim-grepper"]
	path = site/pack/mmleroux/opt/vim-grepper
	url = https://github.com/mhinz/vim-grepper
[submodule "site/pack/mmleroux/opt/vim-isort"]
	path = site/pack/mmleroux/opt/vim-isort
	url = https://github.com/fisadev/vim-isort
[submodule "site/pack/mmleroux/opt/Vim-Jinja2-Syntax"]
	path = site/pack/mmleroux/opt/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax
[submodule "site/pack/mmleroux/opt/vim-jsx-pretty"]
	path = site/pack/mmleroux/opt/vim-jsx-pretty
	url = https://github.com/maxmellon/vim-jsx-pretty
[submodule "site/pack/mmleroux/opt/vim-localvimrc"]
	path = site/pack/mmleroux/opt/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc
[submodule "site/pack/mmleroux/opt/vim-move"]
	path = site/pack/mmleroux/opt/vim-move
	url = https://github.com/matze/vim-move
[submodule "site/pack/mmleroux/opt/vim-obsession"]
	path = site/pack/mmleroux/opt/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "site/pack/mmleroux/opt/vim-rooter"]
	path = site/pack/mmleroux/opt/vim-rooter
	url = https://github.com/airblade/vim-rooter
[submodule "site/pack/mmleroux/opt/vim-signify"]
	path = site/pack/mmleroux/opt/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "site/pack/mmleroux/opt/vim-sleuth"]
	path = site/pack/mmleroux/opt/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "site/pack/mmleroux/opt/vim-startify"]
	path = site/pack/mmleroux/opt/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "site/pack/mmleroux/opt/vim-surround"]
	path = site/pack/mmleroux/opt/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "site/pack/mmleroux/opt/vim-test"]
	path = site/pack/mmleroux/opt/vim-test
	url = https://github.com/janko-m/vim-test
[submodule "site/pack/mmleroux/opt/vim-which-key"]
	path = site/pack/mmleroux/opt/vim-which-key
	url = https://github.com/liuchengxu/vim-which-key
[submodule "site/pack/mmleroux/opt/black"]
	path = site/pack/mmleroux/opt/black
	url = https://github.com/psf/black
[submodule "site/pack/mmleroux/opt/fzf"]
	path = site/pack/mmleroux/opt/fzf
	url = https://github.com/junegunn/fzf
[submodule "site/pack/mmleroux/opt/fzf.vim"]
	path = site/pack/mmleroux/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "site/pack/mmleroux/opt/trouble.nvim"]
	path = site/pack/mmleroux/opt/trouble.nvim
	url = https://github.com/folke/trouble.nvim
[submodule "site/pack/mmleroux/opt/nvim-web-devicons"]
	path = site/pack/mmleroux/opt/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "site/pack/mmleroux/opt/lsp_signature"]
	path = site/pack/mmleroux/opt/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim
[submodule "site/pack/mmleroux/opt/tagbar"]
	path = site/pack/mmleroux/opt/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "site/pack/mmleroux/opt/lsp_signature.nvim"]
	path = site/pack/mmleroux/opt/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim
[submodule "site/pack/mmleroux/opt/vim-fugitive"]
	path = site/pack/mmleroux/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "site/pack/mmleroux/opt/vim-python-indent-black"]
	path = site/pack/mmleroux/opt/vim-python-indent-black
	url = https://github.com/jeetsukumaran/vim-python-indent-black
[submodule "site/pack/mmleroux/opt/nvim-autopairs"]
	path = site/pack/mmleroux/opt/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
[submodule "site/pack/mmleroux/opt/NeoDebug"]
	path = site/pack/mmleroux/opt/NeoDebug
	url = https://github.com/wordijp/NeoDebug
[submodule "site/pack/mmleroux/opt/nvim-dap"]
	path = site/pack/mmleroux/opt/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "site/pack/mmleroux/opt/nvim-treesitter"]
	path = site/pack/mmleroux/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "site/pack/mmleroux/opt/nvim-treesitter-pairs"]
	path = site/pack/mmleroux/opt/nvim-treesitter-pairs
	url = https://github.com/theHamsta/nvim-treesitter-pairs
[submodule "site/pack/mmleroux/opt/nvim-treesitter-textobjects"]
	path = site/pack/mmleroux/opt/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule "site/pack/mmleroux/opt/nvim-tree.lua"]
	path = site/pack/mmleroux/opt/nvim-tree.lua
	url = https://github.com/kyazdani42/nvim-tree.lua
[submodule "site/pack/mmleroux/opt/jqno-extractvariable.vim"]
	path = site/pack/mmleroux/opt/jqno-extractvariable.vim
	url = https://github.com/jqno/jqno-extractvariable.vim
[submodule "site/pack/mmleroux/opt/cmp-nvim-lsp"]
	path = site/pack/mmleroux/opt/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "site/pack/mmleroux/opt/nvim-cmp"]
	path = site/pack/mmleroux/opt/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "site/pack/mmleroux/opt/cmp-path"]
	path = site/pack/mmleroux/opt/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "site/pack/mmleroux/opt/cmp-buffer"]
	path = site/pack/mmleroux/opt/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "site/pack/mmleroux/opt/cmp-cmdline"]
	path = site/pack/mmleroux/opt/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline
[submodule "site/pack/mmleroux/opt/cmp-vsnip"]
	path = site/pack/mmleroux/opt/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip
[submodule "site/pack/mmleroux/opt/vim-vsnip"]
	path = site/pack/mmleroux/opt/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule "site/pack/mmleroux/opt/mason.nvim"]
	path = site/pack/mmleroux/opt/mason.nvim
	url = https://github.com/williamboman/mason.nvim
[submodule "site/pack/mmleroux/opt/mason-lspconfig.nvim"]
	path = site/pack/mmleroux/opt/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim
[submodule "site/pack/mmleroux/opt/null-ls.nvim"]
	path = site/pack/mmleroux/opt/null-ls.nvim
	url = https://github.com/jose-elias-alvarez/null-ls.nvim
[submodule "site/pack/mmleroux/opt/plenary.nvim"]
	path = site/pack/mmleroux/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "site/pack/mmleroux/opt/telescope.nvim"]
	path = site/pack/mmleroux/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "site/pack/mmleroux/opt/pear-tree"]
	path = site/pack/mmleroux/opt/pear-tree
	url = https://github.com/tmsvg/pear-tree
[submodule "site/pack/mmleroux/opt/tabout.nvim"]
	path = site/pack/mmleroux/opt/tabout.nvim
	url = https://github.com/abecodes/tabout.nvim
[submodule "site/pack/mmleroux/opt/LuaSnip"]
	path = site/pack/mmleroux/opt/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "site/pack/mmleroux/opt/cmp_luasnip"]
	path = site/pack/mmleroux/opt/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip
[submodule "site/pack/mmleroux/opt/vim-matchup"]
	path = site/pack/mmleroux/opt/vim-matchup
	url = https://github.com/andymass/vim-matchup
[submodule "site/pack/mmleroux/opt/indentLine"]
	path = site/pack/mmleroux/opt/indentLine
	url = https://github.com/yggdroot/indentLine
